[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysnowball = "*"
jupyter = "*"
pandas = "*"
lxml = "*"
urllib3 = "*"
pymysql = "*"
sqlalchemy = "*"
pyyaml = "*"
pyodbc = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
